

{% block start %}
    
    <style>
      table, th, td {
  border: 1px solid black;
  padding: 20px;
  width: 50rem;
  margin: 40px;
}
    </style>
</head>
<body>

  <a href="/contacts/">
    contacts
</a>
<a href="/about/">
    about
</a>
    
  {{peoples}}

  

  <table>
    <tr>
      <th>Sr.no</th>
      <th>Name</th>
      <th>Background</th>
      <th>Age</th>
      <th>can he vote ?</th>

    </tr>
    
    
  
  {% for i in peoples %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
      <td>{{i.background}}</td>
      <td>{{i.age}}</td>
      <td {% if i.age <= 18 %} style="background:red" {% endif %}>
       
        {% if i.age > 18 %}
        
       <p>👍</p>
       {% else %}
       <p>👎</p>
       {% endif %}
      </td>
      
    </tr>
    {% endfor %}
  </table>
  <p>{{text}}</p>
  <p>
    truncatechars:80::---
    {{text|truncatechars:80}}
  </p>
  {% if "Cucumber" in vegetables%}
  "Present"
  {%elif "Tomatoes" in vegetables%}
  Tomatoes Available
  {% else %}
  "Not Available but we have"
  {% endif %}

  <script>
    console.log("hello js/Django")
  </script>

  {% endblock  %}
